.leftpanel{
    width: 250px;
    height: 100%;
    background-color: #bbbbbb;
    border-radius: 10px;
    overflow: scroll;
    overflow-x: hidden;
}
.leftpanel ul {
    padding: 5px;
}
.leftpanel ul li{
    position: relative;
    padding: 4px;
    display: flex;
    align-items: center;
    width: 100%;
    height: 35px;
    cursor: pointer;
}