.nameList{
    flex:0.8;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 90px;
    white-space: nowrap;
}
.ActivTab{
    background-color: #7d99cc;
    border-radius: 10px;
}
.list{
    border-bottom: 4px solid #89949e;
}
.icon {
    margin-left: 5px;
    margin-right: 10px;
    border-radius: 5px;
    width: 20px;
    height: 20px;
}

.btnX{
    position: absolute;
    right: 15px;
    border-radius: 3px;
    height: 15px;
   opacity: 0;
}
.btnX img {
    width: 15px;
}

.leftpanel ul li:hover .btnX{
    opacity: 0.4;
}
.leftpanel ul li:hover .btnX:hover{
    opacity: 1;
}
