*{
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 15px;
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
}

.App{
  position: absolute;
  display: flex;
  left:50%;
  top:50%;
  width: 750px;
  height: 530px;
  background-color:whitesmoke;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  box-shadow: 2px 2px #564d4d;
} 